body{
    background-color: #e9e9e9;
}
.comentarios{
    border: 5px solid rgb(54, 170, 212);
    padding: 40px;
}
.boxComentario{
    border: 2px solid rgb(30, 185, 101);
    margin: 5spx;
}
.boxComentario:nth-child(odd){
    border: 2px solid rgb(185, 30, 58);
    margin: 5px;
}
